<a href="https://colab.research.google.com/github/BENJAHJP/Control/blob/master/CREDICTCARDFRAUDDETECTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense, Dropout, BatchNormalization
from tensorflow.keras.layers import Conv1D, MaxPool1D
from tensorflow.keras.optimizers import Adam
print(tf.__version__)

2.5.0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import zipfile

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
zip_ref = zipfile.ZipFile("/content/drive/MyDrive/archive.zip", 'r')
zip_ref.extractall("/tmp")
zip_ref.close()

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from google.colab import files

In [ ]:
#files.upload()

In [ ]:
data = pd.read_csv('/tmp/creditcard.csv')
data.head()
data.shape

(284807, 31)

In [ ]:
data.shape
data.isnull().sum()/data.shape[0]*100

Time      0.0
V1        0.0
V2        0.0
V3        0.0
V4        0.0
V5        0.0
V6        0.0
V7        0.0
V8        0.0
V9        0.0
V10       0.0
V11       0.0
V12       0.0
V13       0.0
V14       0.0
V15       0.0
V16       0.0
V17       0.0
V18       0.0
V19       0.0
V20       0.0
V21       0.0
V22       0.0
V23       0.0
V24       0.0
V25       0.0
V26       0.0
V27       0.0
V28       0.0
Amount    0.0
Class     0.0
dtype: float64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [ ]:
data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [ ]:
non_fraud = data[data['Class']==0]
fraud = data[data['Class']==1]
non_fraud.shape, fraud.shape

((284315, 31), (492, 31))

In [ ]:
non_fraud = non_fraud.sample(fraud.shape[0])
non_fraud.shape

(492, 31)

In [ ]:
data = fraud.append(non_fraud, ignore_index=True)
data.head()

     Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   406.0 -2.312227  1.951992 -1.609851  ...  0.261145 -0.143276    0.00      1
1   472.0 -3.043541 -3.157307  1.088463  ... -0.252773  0.035764  529.00      1
2  4462.0 -2.303350  1.759247 -0.359745  ...  0.039566 -0.153029  239.93      1
3  6986.0 -4.397974  1.358367 -2.592844  ... -0.827136  0.849573   59.00      1
4  7519.0  1.234235  3.019740 -4.304597  ... -0.010016  0.146793    1.00      1

[5 rows x 31 columns]

In [ ]:
data['Class'].value_counts()

1    492
0    492
Name: Class, dtype: int64

In [ ]:
X = data.drop('Class', axis = 1)
y = data['Class']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0, stratify = y)

In [ ]:
X_train.shape, X_test.shape
X_test

         Time         V1        V2  ...       V27       V28   Amount
655    2125.0   1.321548 -0.580161  ... -0.035247  0.006425    71.00
233   70071.0  -0.440095  1.137239  ...  0.768291  0.459623   227.30
114   41164.0  -5.932778  4.571743  ...  1.792012  0.371007     5.30
309   93879.0 -12.833631  7.508790  ... -2.400811 -0.720557   104.03
282   87883.0  -1.360293 -0.458069  ... -0.469800 -1.495006   829.41
..        ...        ...       ...  ...       ...       ...      ...
955   29808.0   1.029375 -0.450627  ...  0.017053  0.031807    64.99
924   80448.0  -0.750413  0.300228  ... -0.028947 -0.115087     1.98
825  138541.0  -0.629801 -0.132544  ... -0.153085 -0.172457    33.60
397  139117.0  -3.975939 -1.244939  ...  0.877424  0.667568     8.30
453  154278.0  -1.600211 -3.488130  ...  0.152947  0.477775  1504.93

[197 rows x 30 columns]

In [ ]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

y_train = y_train.to_numpy()
y_test = y_test.to_numpy()

X_train.shape
y_train.shape

(787,)

In [ ]:
X_train = X_train.reshape(X_train.shape[0], X_train.shape[1], 1)
X_test = X_test.reshape(X_test.shape[0], X_test.shape[1], 1)

X_train.shape, X_test.shape

((787, 30, 1), (197, 30, 1))

In [ ]:
epochs = 50
model = Sequential()
model.add(Conv1D(32, 2, activation='relu', input_shape = X_train[0].shape))
model.add(BatchNormalization())
model.add(MaxPool1D(2))
model.add(Dropout(0.2))

model.add(Conv1D(64, 2, activation='relu'))
model.add(BatchNormalization())
model.add(MaxPool1D(2))
model.add(Dropout(0.5))

model.add(Flatten())
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.5))

model.add(Dense(1, activation='sigmoid'))

model.compile(optimizer=Adam(lr=0.0001), 
              loss = 'binary_crossentropy', 
              metrics=['accuracy'])

history = model.fit(X_train, y_train, 
                    epochs=epochs, 
                    validation_data=(X_test, y_test), 
                    verbose=1)

/usr/local/lib/python3.7/dist-packages/tensorflow/python/keras/optimizer_v2/optimizer_v2.py:375: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  "The `lr` argument is deprecated, use `learning_rate` instead.")

Epoch 1/50
25/25 [==============================] - 1s 13ms/step - loss: 1.0190 - accuracy: 0.5502 - val_loss: 0.6371 - val_accuracy: 0.7208
Epoch 2/50
25/25 [==============================] - 0s 7ms/step - loss: 0.9179 - accuracy: 0.6213 - val_loss: 0.6143 - val_accuracy: 0.7157
Epoch 3/50
25/25 [==============================] - 0s 6ms/step - loss: 0.7281 - accuracy: 0.6925 - val_loss: 0.6019 - val_accuracy: 0.6853
Epoch 4/50
25/25 [==============================] - 0s 6ms/step - loss: 0.6357 - accuracy: 0.7166 - val_loss: 0.5908 - val_accuracy: 0.6650
Epoch 5/50
25/25 [==============================] - 0s 6ms/step - loss: 0.6489 - accuracy: 0.7306 - val_loss: 0.5777 - val_accuracy: 0.6701
Epoch 6/50
25/25 [==============================] - 0s 6ms/step - loss: 0.5712 - accuracy: 0.7726 - val_loss: 0.5620 - val_accuracy: 0.6802
Epoch 7/50
25/25 [==============================] - 0s 6ms/step - loss: 0.4820 - accuracy: 0.7929 - val_loss: 0.5426 - val_accuracy: 0.6954
Epoch 8/50
25/25 [==============================] - 0s 6ms/step - loss: 0.4492 - accuracy: 0.8310 - val_loss: 0.5215 - val_accuracy: 0.7005
Epoch 9/50
25/25 [==============================] - 0s 6ms/step - loss: 0.4934 - accuracy: 0.7954 - val_loss: 0.4967 - val_accuracy: 0.7208
Epoch 10/50
25/25 [==============================] - 0s 6ms/step - loss: 0.4411 - accuracy: 0.8132 - val_loss: 0.4698 - val_accuracy: 0.7411
Epoch 11/50
25/25 [==============================] - 0s 6ms/step - loss: 0.4115 - accuracy: 0.8323 - val_loss: 0.4414 - val_accuracy: 0.7919
Epoch 12/50
25/25 [==============================] - 0s 6ms/step - loss: 0.3891 - accuracy: 0.8412 - val_loss: 0.4163 - val_accuracy: 0.8325
Epoch 13/50
25/25 [==============================] - 0s 6ms/step - loss: 0.4144 - accuracy: 0.8272 - val_loss: 0.3959 - val_accuracy: 0.8426
Epoch 14/50
25/25 [==============================] - 0s 7ms/step - loss: 0.3934 - accuracy: 0.8628 - val_loss: 0.3781 - val_accuracy: 0.8528
Epoch 15/50
25/25 [==============================] - 0s 6ms/step - loss: 0.3440 - accuracy: 0.8653 - val_loss: 0.3624 - val_accuracy: 0.8579
Epoch 16/50
25/25 [==============================] - 0s 6ms/step - loss: 0.3706 - accuracy: 0.8615 - val_loss: 0.3485 - val_accuracy: 0.8629
Epoch 17/50
25/25 [==============================] - 0s 6ms/step - loss: 0.3496 - accuracy: 0.8767 - val_loss: 0.3366 - val_accuracy: 0.8680
Epoch 18/50
25/25 [==============================] - 0s 6ms/step - loss: 0.3751 - accuracy: 0.8488 - val_loss: 0.3263 - val_accuracy: 0.8680
Epoch 19/50
25/25 [==============================] - 0s 7ms/step - loss: 0.3205 - accuracy: 0.8920 - val_loss: 0.3193 - val_accuracy: 0.8731
Epoch 20/50
25/25 [==============================] - 0s 6ms/step - loss: 0.3399 - accuracy: 0.8882 - val_loss: 0.3108 - val_accuracy: 0.8782
Epoch 21/50
25/25 [==============================] - 0s 7ms/step - loss: 0.3476 - accuracy: 0.8818 - val_loss: 0.3050 - val_accuracy: 0.8782
Epoch 22/50
25/25 [==============================] - 0s 6ms/step - loss: 0.3292 - accuracy: 0.8831 - val_loss: 0.2976 - val_accuracy: 0.8731
Epoch 23/50
25/25 [==============================] - 0s 6ms/step - loss: 0.3005 - accuracy: 0.8958 - val_loss: 0.2915 - val_accuracy: 0.8782
Epoch 24/50
25/25 [==============================] - 0s 6ms/step - loss: 0.3382 - accuracy: 0.8780 - val_loss: 0.2866 - val_accuracy: 0.8832
Epoch 25/50
25/25 [==============================] - 0s 6ms/step - loss: 0.2907 - accuracy: 0.8958 - val_loss: 0.2840 - val_accuracy: 0.8883
Epoch 26/50
25/25 [==============================] - 0s 6ms/step - loss: 0.3265 - accuracy: 0.8767 - val_loss: 0.2814 - val_accuracy: 0.8934
Epoch 27/50
25/25 [==============================] - 0s 6ms/step - loss: 0.3053 - accuracy: 0.8844 - val_loss: 0.2786 - val_accuracy: 0.8934
Epoch 28/50
25/25 [==============================] - 0s 6ms/step - loss: 0.2685 - accuracy: 0.9047 - val_loss: 0.2777 - val_accuracy: 0.8934
Epoch 29/50
25/25 [==============================] - 0s 6ms/step - loss: 0.2968 - accuracy: 0.8818 - val_loss: 0.2742 - val_accuracy: 0.8934
Epoch 30/50
25/25 [==============================] - 0s 6ms/step - loss: 0.2773 - accuracy: 0.8958 - val_loss: 0.2716 - val_accuracy: 0.8934
Epoch 31/50
25/25 [==============================] - 0s 6ms/step - loss: 0.2534 - accuracy: 0.9072 - val_loss: 0.2714 - val_accuracy: 0.8934
Epoch 32/50
25/25 [==============================] - 0s 6ms/step - loss: 0.2681 - accuracy: 0.8933 - val_loss: 0.2676 - val_accuracy: 0.8934
Epoch 33/50
25/25 [==============================] - 0s 6ms/step - loss: 0.3075 - accuracy: 0.8907 - val_loss: 0.2671 - val_accuracy: 0.8934
Epoch 34/50
25/25 [==============================] - 0s 6ms/step - loss: 0.2504 - accuracy: 0.9149 - val_loss: 0.2646 - val_accuracy: 0.8934
Epoch 35/50
25/25 [==============================] - 0s 6ms/step - loss: 0.2859 - accuracy: 0.8920 - val_loss: 0.2648 - val_accuracy: 0.8934
Epoch 36/50
25/25 [==============================] - 0s 6ms/step - loss: 0.2647 - accuracy: 0.8983 - val_loss: 0.2634 - val_accuracy: 0.8985
Epoch 37/50
25/25 [==============================] - 0s 6ms/step - loss: 0.2391 - accuracy: 0.9085 - val_loss: 0.2637 - val_accuracy: 0.8985
Epoch 38/50
25/25 [==============================] - 0s 6ms/step - loss: 0.2783 - accuracy: 0.8920 - val_loss: 0.2632 - val_accuracy: 0.8985
Epoch 39/50
25/25 [==============================] - 0s 6ms/step - loss: 0.2451 - accuracy: 0.9187 - val_loss: 0.2603 - val_accuracy: 0.9036
Epoch 40/50
25/25 [==============================] - 0s 6ms/step - loss: 0.2417 - accuracy: 0.9123 - val_loss: 0.2595 - val_accuracy: 0.9036
Epoch 41/50
25/25 [==============================] - 0s 6ms/step - loss: 0.2663 - accuracy: 0.9085 - val_loss: 0.2585 - val_accuracy: 0.9036
Epoch 42/50
25/25 [==============================] - 0s 6ms/step - loss: 0.2420 - accuracy: 0.9250 - val_loss: 0.2565 - val_accuracy: 0.9036
Epoch 43/50
25/25 [==============================] - 0s 6ms/step - loss: 0.2348 - accuracy: 0.9111 - val_loss: 0.2551 - val_accuracy: 0.9086
Epoch 44/50
25/25 [==============================] - 0s 6ms/step - loss: 0.2335 - accuracy: 0.9047 - val_loss: 0.2542 - val_accuracy: 0.9137
Epoch 45/50
25/25 [==============================] - 0s 6ms/step - loss: 0.2241 - accuracy: 0.9212 - val_loss: 0.2510 - val_accuracy: 0.9137
Epoch 46/50
25/25 [==============================] - 0s 6ms/step - loss: 0.2653 - accuracy: 0.9149 - val_loss: 0.2503 - val_accuracy: 0.9137
Epoch 47/50
25/25 [==============================] - 0s 6ms/step - loss: 0.2344 - accuracy: 0.9149 - val_loss: 0.2491 - val_accuracy: 0.9137
Epoch 48/50
25/25 [==============================] - 0s 7ms/step - loss: 0.2510 - accuracy: 0.8958 - val_loss: 0.2484 - val_accuracy: 0.9137
Epoch 49/50
25/25 [==============================] - 0s 6ms/step - loss: 0.2428 - accuracy: 0.9174 - val_loss: 0.2448 - val_accuracy: 0.9137
Epoch 50/50
25/25 [==============================] - 0s 6ms/step - loss: 0.2307 - accuracy: 0.9238 - val_loss: 0.2449 - val_accuracy: 0.9137

In [ ]:
plot_learningCurve= (history, epochs)

NameError: ignored